body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.title-color{
    color:chocolate;
}
.first-section{
    display:flex;
    margin-top:15%;
    margin-left:8%;
    
}
.first-width{
    width:50%;
}
.order-center{ 
    text-decoration:none;
    background-color: indianred;
    padding:15px 40px;
    border-radius: 40px;
    box-shadow:5px 5px 10px gray;
}
.second-section{
    display:flex;
    background-image: url(images/shapes/Frame\ 59.jpg);
    margin-top:5%;
    padding-right: 5px;
    


}
.second-width{
    padding: 50px;
    
    
}
.second-width-image{
    width:40px;
    padding-right: 80px;
}
.contact-button{
    text-decoration: none;
    color:white;
    background-color: indianred;
    padding:15px 40px;
    border-radius: 40px;
    box-shadow:5px 5px 10px gray;
}


.third-section{
    text-align: center;

}

.recepi-area{
    display:flex;

}
.image-width{
    width:25%;
    padding: 15px;
    border:10px;
    margin:2%;
    border-radius: 50px;
   box-shadow: 3px 3px 6px 10px gray;

    
}
footer p{
    text-align: center;
}
.footer-color{
    color:red;
}


}
